.about-page{
    background-image: url(../images/aboutUsPage/background.png);
    background-size: 1920px;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-position-x: center;
}
.about-background-container img{
    width: 1920px;
    opacity: 1;
    object-fit: contain;
}
.about-background-container {
    display: flex;
    justify-content: center;
}
.about-container {
    width: 1000px;
    margin: 790px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.about-header-text {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    color: #A7727D;
}
.about-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 50px 0;
}
.about-content-box img {
    height: 200px;
    /* margin: 0 40px 0 0; */
}
.about-content-box p {
    margin: 40px 0 0 0;
    width: 640px;
}
.about-subheader-text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #A7727D;
}
.about-team-box {
    display: flex;
    margin: 50px 0 0 0;
}
.about-team-single {
    display: flex;
    flex-direction: column;
    width: 333px;
}
.about-team-single img{
    margin: auto;
    width: 250px;
    height: 100%;
    border-radius: 125px;
    object-fit: cover;
}
.about-team-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0 150px 0;
}
.about-team-name {
    margin: 30px 0 0 0;
    font-size: 23px;
    color: #A7727D;
}

.form-contact{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 40px auto 160px  auto;
    gap: 1.5rem;
}

.contact-column{
    display: flex;
    flex-direction: column;
}

.input-contact{
    background-color: #F9F5E7;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 30px;
    padding: 5px 20px;
    font-size: 16px;
}

.textArea{
    height: 100px;
    resize: none;
}

.submit-contact{
    margin: auto;
    color: #fff;
    background-color: #A7727D;
    border-radius: 20px;
    border: none;
    /* box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); */
    width: 200px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.label-contact{
    color: #A7727D;
}

@media screen and (min-width : 850px) and (max-width : 1080px){
    .about-page{
        background-size: 1080px;
        background-position-y: 10%;
    }
    .about-container {
        width: 750px;
        margin: 460px auto 0 auto;
    }
    .about-header-text {
        font-size: 29px;
    }
    .about-content-box img {
        height: 150px;
        margin: 0 30px 0 0;
    }
    .about-content-box p {
        width: 560px;
        font-size: 14px;
    }
    .about-subheader-text {
        font-size: 21px;
    }
    .about-team-single {
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    .about-team-single img{
        margin: auto;
        width: 200px;
        height: auto;
        border-radius: 100px;
    }
    .about-team-content {
        margin: 10px 0 120px 0;
        font-size: 14px;
    }
    .about-team-name {
        margin: 30px 0 0 0;
        font-size: 18px;
    }
}

@media screen and (min-width : 0px) and (max-width : 850px){
    .about-page{
        background-size: 850px;
        background-position-y: 10%;
    }
    .about-container {
        width: 375px;
        margin: 390px auto 0 auto;
    }
    .about-header-text {
        font-size: 25px;
    }
    .about-content-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0 50px 0;
    }
    .about-content-box img {
        height: 100px;
        margin: 0 0 20px 0;
    }
    .about-content-box p {
        width: 360px;
        font-size: 14px;
    }
    .about-subheader-text {
        font-size: 19px;
    }
    .about-team-single {
        display: flex;
        flex-direction: column;
        width: 230px;
    }
    .about-team-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 50px 0 40px 0;
    }
    .about-team-content {
        margin: 10px 0 50px 0;
        font-size: 14px;
    }
    .about-team-single img{
        margin: auto;
        width: 180px;
        height: auto;
        border-radius: 90px;
    }
    .about-team-name {
        margin: 30px 0 0 0;
        font-size: 18px;
    }
    .form-contact{
        width: 375px;
    }
}