.edit-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 250px;
    /* background-color: red; */
}
.edit-frame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    background-color: #FFFFFF;
    box-shadow:0px 5px 35px 10px rgba(0,0,0,0.16);
    grid-column: 2 / span 2;
    border-radius: 30px;
    margin-top: 100px;
    border: none;
    margin-right: 300px;
}
.change-imageProfile-box {
    width: 170px;
    height: 200px;
    display: grid;
    justify-content: center;
    padding: 100px 50px 50px 70px;
}
.change-information-box{
    grid-column: 2 / span 2;
    width: 550px;
    margin: 100px 70px 100px 0;
    padding-left: 70px;
    border-left: 1px solid #A7727D;
}
.input-edit-info {
    border: none;
    border-radius: 10px;
    /* border-width: 1px; */
    border-color: #A7727D;
    outline: none;
    font-size: 25px;
    color: #A7727D;
    width: 230px;
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.16);
    padding: 0 10px;
    margin: 0 0 5px;
}
.info-title {
    font-size: 25px;
    color: #616161;
}
.confirm-updateInfo-btn {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #A7727D;
    color: #E9E9E9;
    border-radius: 10px;
    box-shadow:0px 5px 15px 0 rgba(0,0,0,0.16);
}
.updateInfo-btn-box {
    margin-left: 75px;
    grid-column: 2 ;
}
.choosePhoto-btn {
    margin-left: 35px;
    width: 90px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: #A7727D;
    color: #E9E9E9;
    border-radius: 10px;
}
.max-edit-box {
    display: grid;
    height: 10px;
}
.max-edit-photosize {
    text-align: center;
    font-size: 14px;
    color: #616161;
}
.edit-profileImage {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 45px;
    margin-left: 35px;
}
.edit-name-box, .edit-surname-box, .edit-phoneNumber-box, .edit-birthDate-box  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 13px;
}
.confirm-updateInfo-btn:hover, .choosePhoto-btn:hover {
    background: #F8EAD8;
    color: #000000;
    cursor: pointer;
    transition: 0.5s ease;
}

/* .choosePhoto-input {
    padding: 10px 20px;
    color: black;
    display: flex;
    background-color: #F8EAD8;
    width: 400px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
} */
.choosePhoto-input::file-selector-button{
    background-color: #A7727D;
    color: #E9E9E9;
    border: none;
    border-radius: 7px;
    height: 25px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

/* จอ desktop 1 */
@media screen and (min-width: 1580px) and (max-width: 1800px){
    .edit-frame {
        margin-right: 150px;
    }
}

/* จอ desktop 2 */
@media screen and (min-width: 1225px) and (max-width: 1580px){
    .change-information-box{
        margin: 100px 70px 100px 0;
        padding-left: 20px;
    }
    .change-imageProfile-box {
        padding: 100px 30px 50px 40px;
    }
    .edit-frame {
        margin-right: 100px;
    }
    .input-edit-info {
        width: 200px;
        margin-left: -50px;
    }
    .updateInfo-btn-box {
        margin-left: 0px;
    }
}
/* จอ desktop 3 */
@media screen and (min-width: 1080px) and (max-width: 1225px){
    .edit-container {
        display: flex;
        flex-direction: column;
    }
    .edit-frame {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr;
        background-color: #FFFFFF;
        box-shadow:0px 5px 35px 10px rgba(0,0,0,0.16);
        border-radius: 30px;
        width: 800px;
        height: 500px;
        border: none;
        margin: 50px auto;
    }
    .input-edit-info {
        font-size: 20px;
        width: 200px;
    }
    .info-title {
        font-size: 20px;
        width: 230px;
    }
    .input-edit-info {
        margin-left: -50px;
    }
    .info-title {
        font-size: 20px;
    }
    .updateInfo-btn-box {
        margin-left: 0px;
    }
    .change-information-box{
        width: 350px;
        margin: 100px 70px 100px 0;
        border-left: 1px solid #A7727D;
    }
    .choosePhoto-input::file-selector-button{
        background-color: #A7727D;
        color: #E9E9E9;
        border: none;
        border-radius: 7px;
        height: 20px;
        font-size: 12px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
}
/* จอ Tablet 1*/
@media screen and (min-width: 850px) and (max-width: 1080px){
    .edit-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }
    .edit-frame {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr;
        background-color: #FFFFFF;
        box-shadow:0px 5px 35px 10px rgba(0,0,0,0.16);
        border-radius: 30px;
        width: 700px;
        height: 450px;
        border: none;
        margin: 50px auto;
    }
    .input-edit-info, .info-title {
        font-size: 17px;
        width: 230px;
    }
    .input-edit-info {
        margin-left: -50px;
        width: 150px;
    }
    .info-title {
        font-size: 17px;
    }
    .updateInfo-btn-box {
        margin-left: 0px;
    }
    .change-information-box{
        width: 350px;
        margin: 100px 70px 70px 0;
        border-left: 1px solid #A7727D;
    }
    .change-imageProfile-box {
        padding: 100px 30px 50px 40px;
    }
    .edit-profileImage {
        height: 70px;
        width: 70px;
        border-radius: 35px;
        margin-left: 52px;
    }
    .choosePhoto-btn {
        margin-left: 18px;
        width: 80px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        border: none;
        background-color: #A7727D;
        color: #E9E9E9;
        border-radius: 10px;
    }
    .max-edit-photosize {
        text-align: center;
        font-size: 10px;
        color: #616161;
    }
    .choosePhoto-input::file-selector-button{
        background-color: #A7727D;
        color: #E9E9E9;
        border: none;
        border-radius: 7px;
        height: 20px;
        font-size: 12px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
}

/* จอ tablet 2 */
@media screen and (min-width: 585px) and (max-width: 850px){
    .edit-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }
    .edit-frame {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #FFFFFF;
        box-shadow:0px 5px 35px 10px rgba(0,0,0,0.16);
        border-radius: 30px;
        width: 500px;
        height: 580px;
        border: none;
        margin: 50px auto;
    }
    .input-edit-info, .info-title {
        font-size: 17px;
        width: 230px;
    }
    .input-edit-info {
        margin-left: -50px;
        width: 150px;
    }
    .info-title {
        font-size: 17px;
    }
    .updateInfo-btn-box {
        grid-column: 1;
        grid-row: 3;
        margin: 20px auto;
    }
    .change-information-box{
        grid-column: 1;
        grid-row: 2;
        width: 350px;
        padding-top: 30px;
        margin: 0px 0px 0px 0px;
        margin: 0px auto;
        border-top: 1px solid #A7727D;
        border-left: 0px solid #A7727D;
        padding-left: 20px;
    }
    .change-imageProfile-box {
        padding: 0px 0px 0px 0px;
        margin: 40px auto;
    }
    .edit-profileImage {
        height: 70px;
        width: 70px;
        border-radius: 35px;
        margin-left: 52px;
    }
    .choosePhoto-btn {
        margin-left: 18px;
        width: 80px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        border: none;
        background-color: #A7727D;
        color: #E9E9E9;
        border-radius: 10px;
    }
    .max-edit-photosize {
        text-align: center;
        font-size: 10px;
        color: #616161;
    }
    .choosePhoto-input::file-selector-button{
        background-color: #A7727D;
        color: #E9E9E9;
        border: none;
        border-radius: 7px;
        height: 20px;
        font-size: 12px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
    .confirm-updateInfo-btn {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }
}

/* จอ mobile */
@media screen and (min-width: 0px) and (max-width: 585px){
    .edit-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
    }
    .edit-frame {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #FFFFFF;
        box-shadow:0px 5px 35px 10px rgba(0,0,0,0.16);
        border-radius: 30px;
        width: 350px;
        height: 560px;
        border: none;
        margin: 70px auto;
    }
    .input-edit-info, .info-title {
        font-size: 15px;
        width: 190px;
    }
    .input-edit-info {
        margin-left: -50px;
        width: 110px;
    }
    .info-title {
        font-size: 15px;
    }
    .updateInfo-btn-box {
        grid-column: 1;
        grid-row: 3;
        margin: 20px auto;
    }
    .change-information-box{
        grid-column: 1;
        grid-row: 2;
        width: 250px;
        padding-top: 30px;
        padding-left: 0px;
        margin: 0px 0px 0px 0px;
        margin: 0px auto;
        border-top: 1px solid #A7727D;
        border-left: 0px solid #A7727D;
    }
    .change-imageProfile-box {
        padding: 0px 0px 0px 0px;
        margin: 40px auto;
    }
    .edit-profileImage {
        height: 70px;
        width: 70px;
        border-radius: 35px;
        margin-left: 52px;
    }
    .choosePhoto-btn {
        margin-left: 18px;
        width: 80px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        border: none;
        background-color: #A7727D;
        color: #E9E9E9;
        border-radius: 10px;
    }
    .max-edit-photosize {
        text-align: center;
        font-size: 10px;
        color: #616161;
    }
    .choosePhoto-input::file-selector-button{
        background-color: #A7727D;
        color: #E9E9E9;
        border: none;
        border-radius: 7px;
        height: 20px;
        font-size: 12px;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
    .confirm-updateInfo-btn {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }
}
