.forgot-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 70px auto 320px auto;
}
.forgot-header{
    font-size: 45px;
    font-weight: bold;
    color: #A7727D;
}
.forgot-box{
    margin: 70px 0 0 0;
    display: flex;
    width: 700px;
    background-color: #F9F5E7;
    border-radius: 20px;
    padding: 30px;
    box-shadow:0px 5px 15px 0 rgba(0,0,0,0.16);
}
.forgot-box img{
    border-radius: 20px;
    margin: 0 40px 0 0;
}
.forgot-input-box{
    display: flex;
    flex-direction: column;
}
.forgot-input-box label{
    font-size: 24px;
    color: #A7727D;
    margin: 30px 0 10px 0;
}
.forgot-input-box input{
    width: 320px;
    padding: 8px 15px;
    font-size: 20px;
    border: none;
    background-color: #F8EAD8;
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.16);
    border-radius: 15px;
    margin: 0 0 50px 0;
}
.forgot-input-box button{
    width: 350px;
    border: none;
    background-color: #A7727D;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    color: #FFFFFF;
}
.forgot-input-box button:hover{
    opacity: 0.7;
    transition: 0.3s ease;
    cursor: pointer;
}

@media screen and (min-width : 850px) and (max-width : 1080px){
    .forgot-container{
        width: 500px;
        margin: 70px auto 320px auto;
    }
    .forgot-header{
        font-size: 35px;
    }
    .forgot-box{
        margin: 50px 0 0 0;
        width: 550px;
        padding: 30px;
    }
    .forgot-box img{
        /* width: 200px; */
        height: 200px;
        border-radius: 20px;
        margin: 0 40px 0 0;
    }
    .forgot-input-box label{
        font-size: 20px;
        margin: 10px 0 10px 0;
    }
    .forgot-input-box input{
        width: 270px;
        padding: 8px 15px;
        font-size: 16px;
        margin: 0 0 30px 0;
    }
    .forgot-input-box button{
        width: 300px;
        height: 45px;
        border-radius: 15px;
        font-size: 16px;
        color: #FFFFFF;
    }
}

@media screen and (min-width : 0px) and (max-width : 850px){
    .forgot-container{
        width: 375px;
        margin: 70px auto 320px auto;
    }
    .forgot-header{
        font-size: 30px;
    }
    .forgot-box{
        margin: 30px 0 0 0;
        width: 375px;
        padding: 20px;
    }
    .forgot-box img{
        /* width: 200px; */
        height: 150px;
        border-radius: 20px;
        margin: 0 20px 0 0;
    }
    .forgot-input-box label{
        font-size: 15px;
        margin: 0px 0 10px 0;
    }
    .forgot-input-box input{
        width: 170px;
        padding: 8px 15px;
        font-size: 14px;
        margin: 0 0 30px 0;
    }
    .forgot-input-box button{
        width: 200px;
        height: 45px;
        border-radius: 15px;
        font-size: 14px;
        color: #FFFFFF;
    }
}