.report-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 70px auto 150px auto;
}
.report-title-box {
    margin: auto;
    margin-bottom: 30px;
}
.report-title {
    font-size: 35px;
    color: #A7727D;
    font-weight: bold;
    margin-right: 20px;
}
.business-name-report {
    font-size: 35px;
    color: #A7727D;
    font-weight: bold;
    text-decoration: underline;
}
.report-img-display{
    width:110px;
    margin: auto;
    margin-bottom: 30px;
}
.report-topic-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.report-info-header {
    font-size: 22px;
    color: #A7727D;
}
.input-report-topic {
    background-color: #F9F5E7;
    border: none;
    outline: none;
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.16);
    border-radius: 20px;
    width: 540px;
    height: 0px;
    padding: 30px;
    font-size: 16px;
}
.report-description-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.input-description-topic {
    background-color: #F9F5E7;
    border: none;
    outline: none;
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.16);
    border-radius: 20px;
    width: 540px;
    height: 120px;
    padding: 30px;
    font-size: 16px;
}
.report-img-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.comfirm-report-btn {
    background-color: #A7727D;
    color: aliceblue;
    font-size: 20px;
    width: 220px;
    height: 55px;
    border: none;
    border-radius: 20px;
    margin: auto;
}
.comfirm-report-btn:hover {
    background: #F8EAD8;
    color: #000000;
    cursor: pointer;
    transition: 0.5s ease;
}

/* จอ tablet */
@media screen and (min-width : 850px) and (max-width : 1080px){
    .report-container {
        width: 500px;
        margin: 70px auto 120px auto;
    }
    .report-title, .business-name-report{
        font-size: 27px;
    }
    .report-img-display{
        width:90px;
    }
    .report-info-header {
        font-size: 17px;
    }
    .input-report-topic {
        width: 440px;
        height: 0px;
        font-size: 14px;
    }
    .input-description-topic {
        width: 440px;
        height: 100px;
        font-size: 14px;
    }
    .comfirm-report-btn {
        font-size: 17px;
        width: 180px;
        height: 48px;
    }
}

/* จอ Mobile */
@media screen and (min-width : 0px) and (max-width : 850px){
    .report-container {
        width: 375px;
        margin: 70px auto 90px auto;
    }
    .report-title, .business-name-report{
        font-size: 20px;
    }
    .report-img-display{
        width:70px;
    }
    .report-info-header {
        font-size: 15px;
    }
    .input-report-topic {
        width: 335px;
        height: 0px;
        font-size: 14px;
        padding: 20px;
        border-radius: 15px;
    }
    .input-description-topic {
        width: 335px;
        height: 80px;
        font-size: 14px;
        padding: 20px;
    }
    .comfirm-report-btn {
        font-size: 17px;
        width: 160px;
        height: 45px;
    }
}
