.defaultAdmin {
    display: flex;
}

.backgroundPageAdmin {
    background-image: url('../../images/bgAdmin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center  ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.headerWelcome {
    color: #A7727D;
    font-size: 54px;
    text-align: center;
}
