
.backgroundPageAdmin{
    background-image: url('../../images/bgAdmin.png');
    display: flex;
    height: 100vh;
    object-fit: cover;
}

.headerWelcome{
    display: flex;
    align-items: center;
    margin: auto;
    color: #A7727D;
}

.defaultAdmin{
    display: flex;
}
