.welcomeAdminPage {
    display: flex;
    height: 955px;
}

.sideMenu{
    width: 335px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #F8EAD8;
    justify-content: space-between;
    box-shadow:0px 24px 48px 0 rgba(0,0,0,0.16);
}

.optionSelect{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.optionClicked{
    color: #A7727D;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #F8EAD8;
    text-align: left;
    width: auto;
    margin-bottom: 40px;
    padding-left: 20px;
    height: 54px;
}

.optionClicked.selected {
    background-color: #FFF;
}

.logoAdmin{
    width: 100%;
    height: auto;
}

.mainContent {
    flex: 1;
    overflow-y: auto;
    align-items: center;
    text-align: center;
}
