.mainContent {
    display: flex;
    
}

.manageContainer {
    background-image: url('../../images/bgAdmin2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.headerAccount {
    color: #A7727D;
    margin-top: 30px;
    margin-left: 160px;
}

.searchLine {
    display: flex;
}

.searchAccount {
    border-radius: 25px;
    background-color: #F9F5E7;
    color: #A7727D;
    border: none;
    box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.16);
    width: 350px;
    height: 34px;
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 180px;
}

.submitAccount {
    display: flex;
    align-items: center;
    border: none;
    background-color: #A7727D;
    color: #F9F5E7;
    border-radius: 13px;
    width: 35px;
    font-size: 24px;
    margin-left: 20px;
}

.account-image {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 30px;
    align-items: center;

}

.fixed-height-tbody {
    height: 580px;
    overflow-y: auto;
}

.fixed-height-tr {
    color: #A7727D;
    max-height: 40px;
    text-align: left;
}

.vertical-align {
    vertical-align: middle;
}

.frameGroup {
    width: 1280px;
    height: 720px;
    background-color: #F9F5E7;
    margin-top: 30px;
    /* margin: auto; */
}

.groupFilter {
    background-color: #A7727D;
    color: #F9F5E7;
    height: 50px;
}

.account-button-design {
    text-decoration: none;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.account-button-design:hover{
    opacity: 0.5;
    transition: 0.5s ease;
}

.line-none{
    text-decoration: none;
}

.pagination-info {
    display: flex;
    color: #A7727D;
    font-size: 16px;
    font-weight: bold;
    padding-left: 1050px;
    margin: auto;
}

.custom-label {
    color: #A7727D;
    list-style: none;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}


/* Style the pagination links */
.pagination__link {
    margin: 0 5px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the active pagination link */
.pagination__link--active {
    background-color: #A7727D;
    color: #fff;
    border: 1px solid #A7727D;
}

/* Style the previous and next buttons */
.pagination__link[aria-disabled='true'] {
    pointer-events: none;
    opacity: 0.5;
}

/* Style the pagination info text */
.pagination-info {
    text-align: center;
    margin-top: 10px;
}

.pagination__page {
    display: none;
}


.table-striped tbody tr:nth-child(odd) {
    background-color: #F9F5E7;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.table {
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.1);
}