.sideMenu{
    width: 300px;
    height: 1005px;
    display: flex;
    flex-direction: column;
    background-color: #F9F5E7;
    justify-content: space-between;
    box-shadow:0px 24px 48px 0 rgba(0,0,0,0.16);

}

.optionSelect{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    list-style: none;
    padding: 0;
}

.optionClicked{
    display:inline-flex;
    text-decoration: none;
    color: #A7727D;
    font-size: 24px;
    font-weight: bold;
    background-color: #F9F5E7;
    margin-top: 30px;
    height: 50px;
    align-items: center;
    width: 200px;
    padding:0 60px 0 40px;

}


.optionClicked.selected {
    background-color: #FFF;
}

.logoAdmin{
    justify-content: end;
}



.logoutAdmin{
    display: inline-flex;
    color: #fa748f;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #F9F5E7;
    text-align: left;
    margin-top: 30px;
    height: 50px;
    align-items: center;
    text-decoration: none;
    padding:0 60px 0 40px;
}

.iconLogOut{
    padding-right: 10px;
}