.singleContainer {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    font-weight:bold;
}

.inContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.text-center {
    display: flex;
    text-align: center;
    margin-top: 50px;
    color: #A7727D;
}

.sec-header {
    background-color: #ffffff;
    width: 1000px;
    padding: 20px;
    /* border: ; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.row-header {
    display: flex;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

.fixed-col{
    flex: 1.15;
}

.fixed-col2{
    flex: 0.5;
}

.col-delete{
    border: none;
    border-radius: 20px;
    background-color: #B73953;
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    width: 100px;
    max-width: 150px;
    margin: auto;
    color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight:bold;
}

.col-delete:hover{
    opacity: 0.5;
    transition: 0.5s ease;
}

.col-confirm{
    border: none;
    border-radius: 20px;
    background-color: rgb(91, 188, 95);
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    max-width: 150px;
    margin: auto;
    color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight:bold;
}

.col-confirm:hover{
    opacity: 0.5;
    transition: 0.5s ease;
}

.sec-body{
    background-color: #ffffff;
    margin-top: 50px;
    width: 1000px;
    height: 550px;
    padding:20px;
    /* border: ; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: auto;
}

.size-img-report{
    height: 200px;
    width: auto;
    gap: 20px;
}

.body-description{
    margin: 50px;
}

.img-row-single{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.opacity-br{
    opacity: 0.2;
}

.step-back{
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    font-size: 24px;
    color: #A7727D;
    position: absolute;
    cursor: pointer;

}

.icon-back{
    font-size: 40px;
}

.color-text-admin-p{
    color: black;
}
