.update-main{
    display: flex;
}
.update-frame{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.text-header{
    text-align: center;
    color: #A7727D;
}
.update-container{
    display: flex;
    width: 1000px;
    height: 600px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 35px 10px rgba(0,0,0,0.16);
    font-size: 22px;
    color: #A7727D;
}

/* .sec-left{

} */

.line-center{
    top: 0;
    margin-right: 0px;
}
.sec-right{
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-right: 7.5rem;
    padding-top: 50px;
    padding-left: 6rem;
}
.update-row{
    display: flex;
    align-items: center;
    margin: 10px;
}

.label-update{
    flex: 1;
    grid-column: 1;
}
.input-update{
    flex: 2.3;
    margin-left: 40px;
    display: flex;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 25px;
    color: #A7727D;
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.16);
}


.div-btn-update{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.btn-update{
    width: 200px;
    height: 40px;
    font-size: 20px;
}

.label-update{

}
.update-imageProfile-box{
    width: 170px;
    height: 200px;
    /* display: grid;
    justify-content: center; */
}
.update-profileImage {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    margin-left: 52px;
}
.update-max-edit-photosize {
    text-align: center;
    font-size: 14px;
    color: #616161;
}

