.update-main{
    display: flex;
}

.update-frame{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.text-header{
    text-align: center;
    color: #A7727D;
}

.update-container{
    display: flex;
    width: 1000px;
    height: 600px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 35px 10px rgba(0,0,0,0.16);
    font-size: 22px;
    color: #A7727D;
}

.sec-left{

}

.line-center{
    top: 0;
    margin-right: 0px;
}

.sec-right{
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-right: 7.5rem;
    padding-top: 50px;
    padding-left: 6rem;
}

.update-row{
    display: flex;
    align-items: center;
    margin: 10px;
}

.input-update{
    display: flex;
    width: 250px;
    height: 40px;
    font-size: 20px;
}

.label-update{
    flex: 1;
    grid-column: 1;
}

.btn-update{
    height: 40px;
    width: 130px;
    color: #A7727D;
    background-color: rgb(249, 245, 231);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    justify-content: flex-end;
}

