.update-main{
    display: flex;
}
.update-frame{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.text-header{
    text-align: center;
    color: #A7727D;
    margin-top: -100px;
}
.update-container{
    display: flex;
    width: 1000px;
    height: 600px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 35px 10px rgba(0,0,0,0.16);
    font-size: 22px;
    color: #A7727D;
    /* margin-top: -100px; */
}

.sec-left{
    display: flex;
    margin: auto;
    text-align: center;
    padding-left: 40px;
}


.line-center{
    top: 0;
    margin-right: 0px;
}
.sec-right{
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-right: 7.5rem;
    padding-top: 50px;
    padding-left: 6rem;
}
.update-row{
    display: flex;
    align-items: center;
    margin: 10px;
}

.label-update{
    flex: 1;
    grid-column: 1;
}
.input-update{
    flex: 2.3;
    margin-left: 40px;
    display: flex;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 25px;
    color: #A7727D;
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.16);
}
.div-btn-update{
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
    margin-right: 10px;
}
.btn-update{
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #A7727D;
    color: #E9E9E9;
    border-radius: 10px;
}
.btn-update:hover{
    transition: 0.3s ease;
    cursor: pointer;
    opacity: 0.7;
}

.update-profileImage-admin{
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.label-update{
    font-weight: bold;
}

.update-imageProfile-box{
    width: 170px;
    height: 200px;
    /* display: grid;
    justify-content: center; */
}
.update-profileImage {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}
.update-max-edit-photosize {
    text-align: center;
    font-size: 14px;
    color: #616161;
}

.admin-account-update{
    width: 200px;
}

.step-back2{
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    font-size: 24px;
    color: #A7727D;
    position: absolute;
}
.step-back2:hover{
    transition: 0.3s ease;
    cursor: pointer;
    opacity: 0.7;
}
.update-file-box {
    display: flex;
    margin: 10px 0 0 0;
}
.updatePhoto-text {
    margin: 2px 0 0 5px;
    font-size: 13px;
    height: 10px;
    color: black;
}
.updatePhoto-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    background-color: #A7727D;
    color: #E9E9E9;
    border: none;
    border-radius: 7px;
    height: 25px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    font-size: 13px;
}
.updatePhoto-label:hover {
    transition: 0.3s ease;
    cursor: pointer;
    opacity: 0.7;
}